@media (max-width: 430px) {
  .price-slider {
    width: 224px; /* w-56 */
  }

  .price-slider input[type="range"] {
    height: 12px;
  }

  .price-slider-value {
    font-size: 12px;
    padding: 2px 6px;
  }
 input[type="range"] {
    margin-bottom: -45px;
    margin-left: -110px;
    height: 0.25rem;
  }
  #chevronUpDownBtn {
     
     margin-left:-70px;
  }
  #optionLock {
      
    position: static; /* Override the absolute position */
  
  }
  #strikePrice { 

    margin-left:-110px
  }
}
