  


@media (max-width: 420px) {
  .option-card {
    min-width: 200px;
  }
  .mobile-margin-car { 
     margin-left: 8px !important;
     width: 50% !important;
  }
    .mobile-margin-price { 
    margin-left:5px !important; width: 50% !important;
  }

}